# Q1. List any five functions of the pandas library with execution.

read_csv(): This function is used to read data from a CSV file and create a DataFrame.

In [6]:
import pandas as pd
df=pd.read_csv("C:\\Users\\swapn\\OneDrive\\Desktop\\PANDAS\\PW_pandas\\tested.csv")

head(): This function is used to display the first few rows of a DataFrame.

In [7]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

info(): This function provides information about the DataFrame, including the data types and non-null values.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

describe(): This function generates summary statistics of the numerical columns in a DataFrame.

In [9]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000
mean,1100.500000,0.363636,2.265550,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.481622,0.841838,14.181209,0.896760,0.981429,55.907576
min,892.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,0.000000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,1100.500000,0.000000,3.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,1.000000,3.000000,39.000000,1.000000,0.000000,31.500000
max,1309.000000,1.000000,3.000000,76.000000,8.000000,9.000000,512.329200

fillna(): This function is used to fill missing (NaN) values in a DataFrame with a specified value.

In [11]:
df["Cabin"].fillna(0)

0         0
1         0
2         0
3         0
4         0
       ...
413       0
414    C105
415       0
416       0
417       0
Name: Cabin, Length: 418, dtype: object

# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [21]:
import pandas as pd

def re_index(df):
    new_index=pd.RangeIndex(start=1,stop=len(df)*2,step=2)
    new_df=df.reset_index(drop=True)
    new_df.index=new_index
    return new_df
data = {'A': [10, 20, 30, 40], 'B': [15, 25, 35, 45], 'C': [50, 60, 70, 80]}
df=pd.DataFrame(data)
new_df=re_index(df)
print(new_df)

    A   B   C
1  10  15  50
3  20  25  60
5  30  35  70
7  40  45  80

# Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [30]:
import pandas as pd

def sum_first_three_no(df):
    if 'values' in df.columns:
        value_columns=df['values']
        sum_first_three=value_columns.head(3).sum()
        print("The sum of first three values is:",sum_first_three)
    else:
        print("The values doesnot exist in the dataframe")
        
data={'values':[10, 20, 30, 40, 50]}
df=pd.DataFrame(data)
sum_first_three_no(df)

The sum of first three values is: 60

# Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column'Word_Count' that contains the number of words in each row of the 'Text' column.

In [33]:
import pandas as pd
def add_world_count(df):
    def count_world(text):
        worlds=text.split()
        return len(worlds)
    
    df['world_count']=df['text'].apply(count_world)
    
data = {'text': ['This is an example', 'Count these words', 'Pandas DataFrame']}
df=pd.DataFrame(data)

add_world_count(df)

print(df)

                 text  world_count
0  This is an example            4
1   Count these words            3
2    Pandas DataFrame            2

# Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size:

DataFrame.size returns the total number of elements in the DataFrame, 
which is calculated as the product of the number of rows and the number
of columns. It represents the total number of data points in the DataFrame.

In [35]:
import pandas as pd
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df=pd.DataFrame(data)
size=df.size
print(size)

6

DataFrame.shape:

DataFrame.shape is a tuple that provides the dimensions of the
DataFrame. It returns the number of rows and the number of columns
in the DataFrame, in that order.

In [37]:
import pandas as pd
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df=pd.DataFrame(data)
shape=df.shape
print(shape)

(3, 2)

# Q6. Which function of pandas do we use to read an excel file?

pd.read_excel() function to read an Excel file.
This function allows you to read data from 
Excel files (both .xls and .xlsx formats) and create a Pandas DataFrame

# Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains emailaddresses in the format 'username@domain.com'. Write a Python function that creates a new column'Username' in df that contains only the username part of each email address.The username is the part of the email address that appears before the '@' symbol. For example, if theemail address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Yourfunction should extract the username from each email address and store it in the new 'Username'column.

In [42]:
import pandas as pd

def extract_user(df):
    df['user_name']=df['Email'].str.split('@').str[0]
data = {'Email': ['john.doe@example.com', 'jane.smith@example.org', 'bob@example.net']}
df = pd.DataFrame(data)
extract_user(df)
print(df)

                    Email   user_name
0    john.doe@example.com    john.doe
1  jane.smith@example.org  jane.smith
2         bob@example.net         bob

# Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selectsall rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. Thefunction should return a new DataFrame that contains only the selected rows.

In [48]:
import pandas as pd
def sel_row(df):
    condition=((df['A']>5) & (df['B']<10))
               
    selected_df=df[condition]
               
    return selected_df
               
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}
               
df = pd.DataFrame(data)

s_r=sel_row(df)
print(s_r)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

# Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,median, and standard deviation of the values in the 'Values' column.

In [50]:
import pandas as pd

def calculator(df):
    mean=df['Values'].mean()
    median=df['Values'].median()
    stand=df['Values'].std()
    return mean, median,stand

data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

mean,median,std=calculator(df)
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

# Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function tocreate a new column 'MovingAverage' that contains the moving average of the sales for the past 7 daysfor each row in the DataFrame. The moving average should be calculated using a window of size 7 andshould include the current day.

In [52]:
import pandas as pd

def cal_avg(df):
    df['Date']=pd.to_datetime(df['Date'])
    df.sort_values(by='Date',inplace=True)
    
    df['Movie_average']=df['Sales'].rolling(window=7,min_periods=1).mean()

data = {'Date': ['2023-11-01', '2023-11-02', '2023-11-03', '2023-11-04', '2023-11-05',
                 '2023-11-06', '2023-11-07', '2023-11-08', '2023-11-09', '2023-11-10'],
        'Sales': [10, 15, 20, 25, 30, 35, 40, 45, 50, 55]}
df = pd.DataFrame(data)
cal_avg(df)
print(df)

        Date  Sales  Movie_average
0 2023-11-01     10           10.0
1 2023-11-02     15           12.5
2 2023-11-03     20           15.0
3 2023-11-04     25           17.5
4 2023-11-05     30           20.0
5 2023-11-06     35           22.5
6 2023-11-07     40           25.0
7 2023-11-08     45           30.0
8 2023-11-09     50           35.0
9 2023-11-10     55           40.0

# Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a newcolumn 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.Monday, Tuesday) corresponding to each date in the 'Date' column.

In [53]:
import pandas as pd

def add_week_day(df):
    df['Date']=pd.to_datetime(df['Date'])
    df['Weekday']=df['Date'].dt.strftime('%A')
    return df
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)

weekday=add_week_day(df)

print(weekday)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

# Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Pythonfunction to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [56]:
import pandas as pd
def select_row_bet_dates(df,start_date,end_date):
    df['Date']=pd.to_datetime(df['Date'])
    
    date_mask=((df['Date']>=start_date)&(df['Date']<=end_date))
    
    select_df=df[date_mask]
    
    return select_df

data = {'Date': ['2023-01-01', '2023-01-15', '2023-01-31', '2023-02-05', '2023-02-28']}
df = pd.DataFrame(data)
start_date = '2023-01-01'
end_date = '2023-01-31'

sel_row=select_row_bet_dates(df,start_date,end_date)
print(sel_row)

        Date
0 2023-01-01
1 2023-01-15
2 2023-01-31

# Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs tobe imported?

 Pandas, the first and foremost library that needs to be imported is the Pandas library itself